services:
  streamlit-ui:
    build:
      context: ./frontend
    ports:
      - "8501:8501"
    volumes:
      - ./backend/data:/app/backend/data
    depends_on:
      - fastapi-backend

  fastapi-backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./backend/data:/app/data
    env_file:
      - .env
