# version: '3.9'

services:
  streamlit-ui:
    build: ./streamlit
    ports:
      - "8501:8501"
    volumes:
      - ./data:/app/data
    depends_on:
      - fastapi-backend

  fastapi-backend:
    build: ./fastapi
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
    env_file:
      - .env
